.container {
    display: flex;
    gap: 0px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.item:nth-child(1),
.item:nth-child(2),
.item:nth-child(3) {
    flex-basis: 241px;
    border: 1px solid black;
}

.item:nth-child(4) {
    border: 1px solid black;
}

ul li span:first-child {
    font-weight: 500;
    font-size: 13px;
    text-transform: capitalize;
}

ul li span:last-child {
    text-transform: capitalize;
    font-size: 12px;
}

.studentImgBox img {
    height: 150px !important;
    background-size: cover;
    background-position: center;

}