<div class="container-fluid">
    <!-- Breadcrumb for Navigation -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <!-- <li class="breadcrumb-item active" aria-current="page">Company</li> -->
      </ol>
    </nav>

    <div class="row align-items-center">
      <div class="col-md-4">
        <h1 class="h3 mb-lg-3 text-gray-800">Dashboard</h1>
      </div>
      <div class="col-md-8 mb-3 text-md-end">
        <!-- <button type="button" class="btn btn-outline-primary" (click)="modalData()">Add SubAdmin</button> -->
      </div>
    </div>
  
    <div class="row g-4">
        <div class="col-lg-3 col-md-6 col-sm-6" *ngIf="dashboardData?.subAdminCount">
            <div class="card text-white" style="background-color: #3d6cb9; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-4">
                            <div class="icon-big text-center">
                                <i class="fa fa-users text-light" style="font-size: 2.5rem;"></i>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="numbers">
                                <p class="card-category mb-1 fw-bold">Sub Admin</p>
                                <p class="card-title h5">{{dashboardData?.subAdminCount}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="card-footer text-center text-white-50" style="border-top: 1px solid rgba(255, 255, 255, 0.2);">
                    <i class="fa fa-refresh"></i> Update Now
                </div> -->
            </div>
        </div>

        <!-- <span *ngIf="!dashboardData?.subAdminCount"> -->

        

        <div class="col-lg-3 col-md-6 col-sm-6" *ngIf="!dashboardData?.subAdminCount">
            <div class="card text-white" style="background-color: #00d1ff; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-4">
                            <div class="icon-big text-center">
                                <i class="fa fa-money text-light" style="font-size: 2.5rem;"></i>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="numbers">
                                <p class="card-category mb-1 fw-bold">Payment</p>
                                <p class="card-title h5">₹{{dashboardData?.paymentCount}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="card-footer text-center text-white-50" style="border-top: 1px solid rgba(255, 255, 255, 0.2);">
                    <i class="fa fa-calendar-o"></i> Last Day
                </div> -->
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6" *ngIf="!dashboardData?.subAdminCount">
            <div class="card text-white" style="background-color: #3d6cb9; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-4">
                            <div class="icon-big text-center">
                                <i class="fa fa-book text-light" style="font-size: 2.5rem;"></i>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="numbers">
                                <p class="card-category mb-1 fw-bold">Test Batch</p>
                                <p class="card-title h5">{{dashboardData?.testBatchCount}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="card-footer text-center text-white-50" style="border-top: 1px solid rgba(255, 255, 255, 0.2);">
                    <i class="fa fa-clock-o"></i> In the Last Hour
                </div> -->
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6" *ngIf="!dashboardData?.subAdminCount">
            <div class="card text-white" style="background-color: #3d6cb9; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-4">
                            <div class="icon-big text-center">
                                <i class="fa fa-book text-light" style="font-size: 2.5rem;"></i>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="numbers">
                                <p class="card-category mb-1 fw-bold">Test Subject</p>
                                <p class="card-title h5">{{dashboardData?.testSubjectCount}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="card-footer text-center text-white-50" style="border-top: 1px solid rgba(255, 255, 255, 0.2);">
                    <i class="fa fa-clock-o"></i> In the Last Hour
                </div> -->
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6" *ngIf="!dashboardData?.subAdminCount">
            <div class="card text-white" style="background-color: #3d6cb9; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-4">
                            <div class="icon-big text-center">
                                <i class="fa fa-book text-light" style="font-size: 2.5rem;"></i>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="numbers">
                                <p class="card-category mb-1 fw-bold">Test Set List</p>
                                <p class="card-title h5">{{dashboardData?.testSetListCount}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="card-footer text-center text-white-50" style="border-top: 1px solid rgba(255, 255, 255, 0.2);">
                    <i class="fa fa-clock-o"></i> In the Last Hour
                </div> -->
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6" *ngIf="!dashboardData?.subAdminCount">
            <div class="card text-white" style="background-color: #3d6cb9; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-4">
                            <div class="icon-big text-center">
                                <i class="fa fa-book text-light" style="font-size: 2.5rem;"></i>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="numbers">
                                <p class="card-category mb-1 fw-bold">User</p>
                                <p class="card-title h5">{{dashboardData?.userCount}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="card-footer text-center text-white-50" style="border-top: 1px solid rgba(255, 255, 255, 0.2);">
                    <i class="fa fa-clock-o"></i> In the Last Hour
                </div> -->
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6" *ngIf="!dashboardData?.subAdminCount">
            <div class="card text-white" style="background-color: #3d6cb9; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-4">
                            <div class="icon-big text-center">
                                <i class="fa fa-book text-light" style="font-size: 2.5rem;"></i>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="numbers">
                                <p class="card-category mb-1 fw-bold">Course</p>
                                <p class="card-title h5">{{dashboardData?.batchCount}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="card-footer text-center text-white-50" style="border-top: 1px solid rgba(255, 255, 255, 0.2);">
                    <i class="fa fa-clock-o"></i> In the Last Hour
                </div> -->
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6" *ngIf="!dashboardData?.subAdminCount">
            <div class="card text-white" style="background-color: #3d6cb9; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-4">
                            <div class="icon-big text-center">
                                <i class="fa fa-book text-light" style="font-size: 2.5rem;"></i>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="numbers">
                                <p class="card-category mb-1 fw-bold">Syllabus</p>
                                <p class="card-title h5">{{dashboardData?.syllabusCount}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="card-footer text-center text-white-50" style="border-top: 1px solid rgba(255, 255, 255, 0.2);">
                    <i class="fa fa-clock-o"></i> In the Last Hour
                </div> -->
            </div>
        </div>


        <div class="col-lg-3 col-md-6 col-sm-6" *ngIf="!dashboardData?.subAdminCount">
            <div class="card text-white" style="background-color: #3d6cb9; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-4">
                            <div class="icon-big text-center">
                                <i class="fa fa-book text-light" style="font-size: 2.5rem;"></i>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="numbers">
                                <p class="card-category mb-1 fw-bold">Post</p>
                                <p class="card-title h5">{{dashboardData?.postCount}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="card-footer text-center text-white-50" style="border-top: 1px solid rgba(255, 255, 255, 0.2);">
                    <i class="fa fa-clock-o"></i> In the Last Hour
                </div> -->
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6" *ngIf="!dashboardData?.subAdminCount">
            <div class="card text-white" style="background-color: #3d6cb9; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-4">
                            <div class="icon-big text-center">
                                <i class="fa fa-book text-light" style="font-size: 2.5rem;"></i>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="numbers">
                                <p class="card-category mb-1 fw-bold">Previous Paper</p>
                                <p class="card-title h5">{{dashboardData?.previousYearCount}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="card-footer text-center text-white-50" style="border-top: 1px solid rgba(255, 255, 255, 0.2);">
                    <i class="fa fa-clock-o"></i> In the Last Hour
                </div> -->
            </div>
        </div>



        <div class="col-lg-3 col-md-6 col-sm-6" *ngIf="!dashboardData?.subAdminCount">
            <div class="card text-white" style="background-color: #00d1ff; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-4">
                            <div class="icon-big text-center">
                                <i class="fa fa-book text-light" style="font-size: 2.5rem;"></i>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="numbers">
                                <p class="card-category mb-1 fw-bold">Books</p>
                                <p class="card-title h5">{{dashboardData?.bookCount}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="card-footer text-center text-white-50" style="border-top: 1px solid rgba(255, 255, 255, 0.2);">
                    <i class="fa fa-refresh"></i> Update Now
                </div> -->
            </div>
        </div>
    <!-- </span> -->
    </div>
    
</div>