<!-- <p>attendance works!</p> -->


<div class="container-fluid">
    <!-- Breadcrumb for Navigation -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><span class="text-secondary">Attendance</span></li>
        </ol>
    </nav>


    <!-- Card Section -->
    <!-- <h1 class="h3 mb-3 text-gray-800">Company</h1> -->

    <div class="card shadow mb-4">
        <div class="card-header p-4">
            <form #searchData=ngForm (ngSubmit)="attendanceList(searchData)">

                <div class="row row-cols-4 g-3 align-items-center">
                    <div class="col">
                        <input type="text" class="form-control" ngModel required placeholder="Unique Number"
                            aria-label="Search" name="uniqueId">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" ngModel placeholder="Student Name" aria-label="Search"
                            name="name">
                    </div>

                    <select class="col mx-1 selectClass" aria-label="Default select example" ngModel name="className">
                        <option [disabled]="true" value="">Class Name</option>
                        <option *ngFor="let class of totalClasses" [value]="class._id">{{class.className}}</option>
                    </select>
                    <div class="col">
                        <input type="text" class="form-control" ngModel required placeholder="Section Name"
                            aria-label="Search" name="section">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" ngModel required placeholder="Roll Number"
                            aria-label="Search" name="rollNo">
                    </div>


                    <div class="col">
                        <input type="text" class="form-control" ngModel required placeholder="Student Mobile_No"
                            aria-label="Search" name="MobileNo">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" ngModel required placeholder="Father Name"
                            aria-label="Search" name="FatherName">
                    </div>

                </div>

                <div class="modal-footer mt-2">
                    <div class="d-grid">
                        <button type="submit" class="btn btn-outline-secondary btn-login btn-sm text-capitalize">
                            Search Now</button>
                    </div>
                </div>
            </form>

        </div>

        <!-- Table Section -->
        <div class="card-body">
            <div class="table-responsive">
                <div class="container-fluid border-bottom border-1" *ngFor="let list of attendanceData; let i = index">
                    <div class="row my-2">

                        <div class="col-md-3 border-1 border-end">
                            <figure class="figure studentImgBox m-0">
                                <img [src]="list?.studentImage" class="figure-img  img-fluid rounded"
                                    alt="student image">
                                <li class="d-flex justify-content-between list-unstyled">
                                    <span class="fw-semibold">Student Id :-</span>
                                    <span class="fw-semibold">{{list?.uniqueId}}</span>
                                </li>
                            </figure>

                        </div>

                        <div class="col-md-4 border-1 border-end">
                            <ul class="p-0">
                                <li class="d-flex justify-content-between list-unstyled mb-3">
                                    <span>Student Name :-</span>
                                    <span>{{list?.studentName}}</span>
                                </li>
                                <li class="d-flex justify-content-between list-unstyled mb-3">
                                    <span>Class Name :-</span>
                                    <span>{{list.classId?.className}}</span>
                                </li>
                                <li class="d-flex justify-content-between list-unstyled mb-3">
                                    <span>Roll No :-</span>
                                    <span>{{list?.rollNo}}</span>
                                </li>
                                <li class="d-flex justify-content-between list-unstyled">
                                    <span>Section Name :-</span>
                                    <span>{{list?.section}}</span>
                                </li>

                            </ul>
                        </div>

                        <div class="col-md-4 border-1">

                            <li class="d-flex justify-content-between list-unstyled mb-3">
                                <span>Student Number :-</span>
                                <span>{{list?.studentMobile}}</span>
                            </li>
                            <li class="d-flex justify-content-between list-unstyled mb-3">
                                <span>Gender :-</span>
                                <span>{{list?.gender}}</span>
                            </li>
                            <li class="d-flex justify-content-between list-unstyled mb-3">
                                <span>DOB :-</span>
                                <span>{{list?.dob}}</span>
                            </li>
                            <li class="d-flex justify-content-between list-unstyled mb-3">
                                <span>Address :-</span>
                                <span>{{list?.address}}</span>
                            </li>
                        </div>

                        <div class="col-md-1 d-flex justify-content-center flex-column align-items-center">
                            <button class="btn btn-outline-success btn-sm" (click)="edit(list, list._id)"><i
                                    _ngcontent-ng-c2586479129="" class="fa-solid fa-pen-to-square"
                                    aria-hidden="true"></i></button> <br>
                            <button class="btn mt-2 btn-outline-danger btn-sm" (click)="delete(list)"><i
                                    _ngcontent-ng-c2586479129="" class="fa-solid fa-trash-can"
                                    aria-hidden="true"></i></button> <br>
                        </div>
                    </div>
                </div>


                <ng-template #noDataFound>
                    <div>
                        No data found!.
                    </div>
                </ng-template>
            </div>
        </div>


        <div class="table">
            <table class="table table-striped">
                <thead>
                    <tr class="text-center">
                        <th scope="col">#</th>
                        <th scope="col"><span>Student Name</span><br><span>UniqueId</span> </th>
                        <th scope="col">Class/Section</th>
                        <th scope="col">Father's Name</th>
                        <th scope="col">Mobile_No</th>
                        <th scope="col">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input">
                                <label class="form-check-label">Select All</label>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" *ngFor="let list of AdmissionData; let i = index;">
                        <th scope="row">{{i+1}}</th>

                        <td class="text-capitalize">
                            <figure class="figure studentImgBox m-0 p-0">
                                <img [src]="list.studentImage" class="rounded-circle" alt="student image" width="40"
                                    height="40">
                            </figure>
                            <div class="float-end">
                                <span class="fw-semibold">{{list.studentName}}</span><br>
                                <span class="uniqueId">{{list.uniqueId}}</span>
                            </div>
                        </td>
                        <td class="">{{list.classId.className}} ({{list.section}})</td>
                        <td>{{list.fatherName}}</td>
                        <td>{{list.studentMobile}}</td>
                        <td>
                            <select class="form-select" [(ngModel)]="attendance"
                                (ngModelChange)="studentAttendance($event, list._id)" aria-label="Default select example">
                                <option value="" selected disabled>Select</option>
                                <option value="Present">Present</option>
                                <option value="Absent">Absent</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <button class="btn btn-outline-success btn-sm fw-semibold float-end me-4 px-4">Save</button>
            </div>
        </div>

    </div>
</div>