<!-- <p>holiday-modal works!</p> -->


<div class="section">
    <div class="modal-header">
        <h4 class="modal-title text-capitalize" id="modal-basic-title">{{user}} Holiday</h4>

        <button type="button" class="btn btn-outline-primary px-3 ms-auto close" aria-label="Close"
            (click)="modalClose()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <div class="mb-3">
                <label for="name" class="form-label">HolidayName</label>
                <input type="text" class="form-control" id="name" placeholder="Holiday Name" formControlName="name">

                <div *ngIf="submitted && f['name'].errors">
                    <small style="color: red;" *ngIf="f['name'].errors['required'] ">Please enter name</small>
                </div>
            </div>

            <div class="mb-3">
                <label cLabel for="exampleFormControlclass">Status</label><br>
                <select cSelect id="exampleFormControlclass" class="form-control" formControlName='status'>
                    <!-- <option [disabled]="true" value="">Select Status</option> -->
                    <option value="Active">Active</option>
                    <option value="Inactive">Inactive</option>
                </select>

                <div *ngIf="submitted && f['status'].errors">
                    <small style="color: red;" *ngIf="f['status'].errors['required'] ">Please select status</small>
                </div>
            </div>

            <div class="mb-3">
                <label for="date" class="form-label">Date</label>
                <input type="date" class="form-control" id="date" placeholder="Date" formControlName="date">

                <div *ngIf="submitted && f['date'].errors">
                    <small style="color: red;" *ngIf="f['date'].errors['required'] ">Please enter date</small>
                </div>
            </div>

            <div class="modal-footer mt-4">
                <div class="d-grid">
                    <button type="submit" class="btn btn-outline-primary btn-login text-uppercase fw-bold">
                        Save</button>
                </div>

            </div>

        </form>
    </div>
</div>