<!-- <p>holiday-modal works!</p> -->


<div class="section">
    <div class="modal-header">
        <h4 class="modal-title text-capitalize" id="modal-basic-title">{{user}} Holiday</h4>

        <button type="button" class="btn btn-outline-primary px-3 ms-auto close" aria-label="Close"
            (click)="modalClose()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <div class="mb-3">
                <label for="name" class="form-label">Holiday Name</label>
                <input type="text" class="form-control" id="name" placeholder="Holiday-name" formControlName="name">

                <div *ngIf="submitted && f['name'].errors">
                    <small style="color: red;" *ngIf="f['name'].errors['required'] ">Please enter name</small>
                </div>
            </div>

            <div class="mb-3">
                <label cLabel for="exampleFormControlclass">Status</label><br>
                <select cSelect id="exampleFormControlclass" class="form-control" formControlName='status'>
                    <!-- <option [disabled]="true" value="">Select Status</option> -->
                    <option value="Active">Active</option>
                    <option value="Inactive">Inactive</option>
                </select>

                <div *ngIf="submitted && f['status'].errors">
                    <small style="color: red;" *ngIf="f['status'].errors['required'] ">Please select status</small>
                </div>
            </div>

            <!-- <div class="mb-3">
                <label for="date" class="form-label">Date</label>
                <input type="date" class="form-control" id="date" placeholder="Date" formControlName="date">

                <div *ngIf="submitted && f['date'].errors">
                    <small style="color: red;" *ngIf="f['date'].errors['required'] ">Please enter date</small>
                </div>
            </div> -->

            <div>
                <label for="date" type="button" class="form-label" (click)="calender()">Select Date</label><br>
                <ngb-datepicker *ngIf="isDate" [showWeekNumbers]="false" [weekdays]="false" navigation="select" formControlName="date"
                    [dayTemplate]="customDay" outsideDays="hidden" (dateSelect)="selectOne($event)"></ngb-datepicker>

                <ng-template #customDay let-date let-currentMonth="currentMonth" let-selected="selected"
                    let-focused="focused">
                    <span class="custom-day" [class.focused]="focused" [class.bg-primary]="isSelected(date)">{{ date.day
                        }}</span>
                </ng-template>

                <div *ngIf="modelList.length > 0">
                    <h6>Selected dates:</h6>
                    <!-- <pre>{{ modelList | json }}</pre> -->
                    <pre>
        <span *ngFor="let date of modelList; let i = index">
          {{ date.day }}/{{ date.month }}/{{ date.year }}{{ i < modelList.length - 1 ? ', ' : '' }}
        </span>
      </pre>
                    <div *ngIf="submitted && f['date'].errors">
                        <small style="color: red;" *ngIf="f['date'].errors['required'] ">Please enter date</small>
                    </div>
                </div>

            </div>

            <div class="modal-footer mt-4">
                <div class="d-grid">
                    <button type="submit" class="btn btn-outline-primary btn-login text-uppercase fw-bold">
                        Save</button>
                </div>

            </div>

        </form>
    </div>
</div>