<div class="modal-header">
    <h4 class="modal-title text-capitalize" id="modal-basic-title">Staff View</h4>

    <button type="button" class="btn btn-outline-primary px-3 ms-auto close" aria-label="Close" (click)="modalClose()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="container p-4">
    <div class="row my-2">

        <div class="col-md-4 border-1 line">
            <figure class="figure studentImgBox m-0">
                <img [src]="Staff?.image" class="figure-img  img-fluid rounded" alt="student image">
            </figure>

            <ul class="p-0">
                <li class="d-flex justify-content-between list-unstyled">
                    <span class="fw-bold">Staff Id :-</span>
                    <span class="fw-bold compId">{{Staff?.compID}}</span>
                </li>
                <li class="d-flex justify-content-between list-unstyled">
                    <span>Staff Name :-</span>
                    <span>{{Staff?.staffName}}</span>
                </li>
                <li class="d-flex justify-content-between list-unstyled">
                    <span>Father's Name :-</span>
                    <span>{{Staff?.fatherName}}</span>
                </li>
                <li class="d-flex justify-content-between list-unstyled">
                    <span>Spouse Name :-</span>
                    <span>{{Staff?.husbandName}}</span>
                </li>
                <li class="d-flex justify-content-between list-unstyled">
                    <span>DOB :-</span>
                    <span>{{Staff?.dob}}</span>
                </li>

                <li class="d-flex justify-content-between list-unstyled">
                    <span>Primary Number :-</span>
                    <span>{{Staff?.primaryNumber}}</span>
                </li>
                <li class="d-flex justify-content-between list-unstyled">
                    <span>Secondary Number :-</span>
                    <span>{{Staff?.secondaryNumber}}</span>
                </li>

            </ul>
        </div>

        <div class="col-md-4 border-1 line">
            <ul class="p-0 ">
                <li class="d-flex justify-content-between list-unstyled">
                    <span>Gender :-</span>
                    <span>{{Staff?.gender}}</span>
                </li>
                <li class="d-flex justify-content-between list-unstyled">
                    <span>Date Of Joining :-</span>
                    <span>{{Staff?.dateOfJoining}}</span>
                </li>
                <li class="d-flex justify-content-between list-unstyled">
                    <span>Qualification :-</span>
                    <span>{{Staff?.qualification}}</span>
                </li>
                <li class="d-flex justify-content-between list-unstyled">
                    <span>Teaching Subjects :-</span>
                    <span>{{Staff.teachingSubject}}</span>
                </li>
                <li class="d-flex justify-content-between list-unstyled">
                    <span>Designation :-</span>
                    <span>{{Staff?.designation}}</span>
                </li>
                <li class="d-flex justify-content-between list-unstyled">
                    <span>Email:-</span>
                    <span>{{Staff?.email}}</span>
                </li>
                <li class="d-flex justify-content-between list-unstyled">
                    <span>Experience :-</span>
                    <span>{{Staff?.experience}}</span>
                </li>

                <li class="d-flex justify-content-between list-unstyled">
                    <span>Basic Salary :-</span>
                    <span>{{Staff?.basicSalary}}</span>
                </li>
                <li class="d-flex justify-content-between list-unstyled">
                    <span>Aadhar No :-</span>
                    <span>{{Staff?.adharNo}}</span>
                </li>
                <li class="d-flex justify-content-between list-unstyled">
                    <span>last School:-</span>
                    <span>{{Staff?.lastSchool}}</span>
                </li>
            </ul>

        </div>

        <div class="col-md-4 border-1 line">
            <ul class="p-0 ">

                <li class="d-flex justify-content-between list-unstyled">
                    <span>Comments:-</span>
                    <span>{{Staff?.comments}}</span>
                </li>
                <li class="d-flex justify-content-between list-unstyled">
                    <span>Address:-</span>
                    <span>{{Staff?.address}}</span>
                </li>

                <small class="fw-semibold text-primary">Bank Details:-</small>
                <li class="d-flex justify-content-between list-unstyled">
                    <span>Bank Name :-</span>
                    <span>{{Staff?.bankName}}</span>
                </li>
                <li class="d-flex justify-content-between list-unstyled">
                    <span>Account Number :-</span>
                    <span>{{Staff?.accountNo}}</span>
                </li>
                <li class="d-flex justify-content-between list-unstyled">
                    <span>Branch :-</span>
                    <span>{{Staff?.branch}}</span>
                </li>
                <li class="d-flex justify-content-between list-unstyled">
                    <span>IFSC Code :-</span>
                    <span>{{Staff?.ifsc}}</span>
                </li>
                <li class="d-flex justify-content-between list-unstyled">
                    <span>Pan No :-</span>
                    <span>{{Staff?.pan}}</span>
                </li>
                <li class="d-flex justify-content-between list-unstyled">
                    <span>Pf No:-</span>
                    <span>{{Staff?.pfNo}}</span>
                </li>
                <li class="d-flex justify-content-between list-unstyled">
                    <span>Status:-</span>
                    <span>{{Staff?.status}}</span>
                </li>
            </ul>
            <small class="date float-end">Date:- {{date}}</small>
        </div>

    </div>
</div>