<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"> {{ modalTitle }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalClose()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">

    <div class="register-form">
        <form [formGroup]="privilegeForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label>Privilege Title</label>
                <!-- <input type="text" formControlName="name" id="name" class="form-control" /> -->
                <select formControlName="name" class="form-select">
                    <option value="">Select Title</option>
                    <!-- data._id -->
                    <option *ngFor="let data of RoleListData" [value]="data.name">{{data.name | titlecase }}</option>
                </select>
                <span *ngIf="privilegeForm.controls['name'].touched && privilegeForm.controls['name'].invalid"
                    class="alert-danger">Field shouldn't be blank</span>
            </div>

            <!-- <div class="form-group">
                <label>Access</label>
                <div class="form-group form-check" *ngFor="let lst of options; let i = index" formArrayName="access">
                    <input type="checkbox" formControlName="{{i}}" class="form-check-input" id="{{i}}">
                    <label class="form-check-label" for="{{i}}">
                        {{lst | uppercase}}
                    </label>
                </div>
            </div> -->
            <div class="form-group">
                <label>Access</label>
                <p *ngIf="!PrivilegeMenuListData?.modules">Loading...</p>
                <div class="form-group form-check border-bottom border-primary"
                    *ngFor="let lst of PrivilegeMenuListData?.modules; let i = index">
                    <input type="checkbox" class="form-check-input" id="{{lst?.name|lowercase}}" [value]="lst?.name"
                        (click)="accessFn($event)" [checked]="lst?.checked">
                    <label class="form-check-label fw-bold" for="{{lst?.name|lowercase}}">
                        {{lst?.name | titlecase}}
                    </label>

                    <div class="row">
                        <div class="col ml-3" *ngFor="let access of lst.options; let j = index">
                            <input type="checkbox" class="form-check-input" id="{{j+lst.name|lowercase}}"
                                (click)="subAccessFn(lst?.name,$event)" [value]="access?.name"
                                [checked]="access.checked">
                            <label class="form-check-label" for="{{j+lst.name|lowercase}}">
                                {{access.name | titlecase}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="userType == 'Edit'" class="form-group">
                <label>Satus</label>
                <select formControlName="status" id="status" class="form-select">
                    <option value="active">Active</option>
                    <option value="inactive">Inactive</option>
                </select>
                <span *ngIf="privilegeForm.controls['status'].touched && privilegeForm.controls['status'].invalid"
                    class="alert-danger">Field
                    shouldn't be blank</span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>


</div>