<div class="container-fluid">
    <!-- Breadcrumb for Navigation -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="dashboard/online-test">Online Test</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{batchName |uppercase}}</li>
      </ol>
    </nav>

    <div class="row align-items-center">
      <div class="col-md-4">
        <h1 class="h3 mb-lg-3 text-gray-800"> Test Subject</h1>
      </div>
      <div class="col-md-8 mb-3 text-md-end">
        <button type="button" class="btn btn-outline-primary" (click)="modalData()">Add Subject</button>
      </div>
    </div>
  
    <div class="container my-4">
      <div class="row">
        <!-- Question Paper Details -->
        <div class="col-lg-12 col-md-12">
          <div class="card mb-3 shadow">
            <div class="card-body">
              <!-- <h5 class="card-title">{{ details?.name | uppercase }} 
                <button *ngIf="details?.status === 'active'" class="btn btn-outline-success btn-sm m-1"
                title="Active">
                <i class="fa-solid fa-check"></i>
              </button>
              <button *ngIf="details?.status === 'inactive'" class="btn btn-outline-danger btn-sm m-1"
                title="Inactive">
                <i class="fa-solid fa-xmark"></i>
              </button></h5>
              -  <span class="badge bg-info ms-2">{{ details?.previousExam.length}} Sets</span> -->
              <ul class="list-group list-group-flush">
                <!-- <li class="list-group-item">
                  <strong>Added Date: {{ details?.date | date: 'YYYY/MM/DD' }}</strong> - 
                  
                  <span class="badge bg-info ms-2">{{ details?.previousExam.length}} Sets</span>
                </li> -->
                <li class="list-group-item">
                  <strong>2022</strong> - Physics
                  <span class="badge bg-info ms-2">3 Sets</span>
                </li>
                <li class="list-group-item">
                  <strong>2021</strong> - Chemistry
                  <span class="badge bg-info ms-2">1 Set</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
    
        <!-- Set Tiles -->
        <div class="col-lg-12 col-md-12">
          <div class="row g-3">
            <!-- Set Tile 1 -->
            <div class="col-md-4 col-lg-3" *ngFor="let list of data let i = index;">
              <div class="card border-0 shadow-sm h-100">
                <div class="card-body text-center">
                  <h6 class="card-title">Set {{i+1}}</h6>
                  <p class="text-muted small">{{list?.name}}</p>
                  <p class="text-muted small"><a class="btn btn-outline-secondary btn-sm ms-2" [href]="list.pdf" target="_blank">View Set</a> </p>
                  <!-- <button class="btn btn-primary btn-sm">Download</button>
                  <button class="btn btn-outline-secondary btn-sm ms-2">View</button> -->
                  <button title="Edit" type="button" class="btn btn-outline-primary btn-sm  ms-2" (click)="edit(list)">
                    <i class="fa-solid fa-pen-to-square"></i>
                  </button>
                  <button title="Delete" type="button" class="btn btn-outline-danger btn-sm  ms-2" (click)="deletes(list)">
                    <i class="fa-solid fa-trash-can"></i>
                  </button>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <div class="row align-items-center">
          <div class="col-md-8">
  
            <input type="text" class="form-control" placeholder="Search Company" aria-label="Search" name="searchCompany">
  
          </div>
        </div>
      </div>
  
      <!-- Table Section -->
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
        <th scope="col">S.N.</th>
        <th scope="col">Subject Name</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
        <tr *ngFor="let list of data let i = index;">
          <th scope="row" class="text-center">{{i+1}}</th>
          <td class="text-center">{{list?.name}} </td>
          
          <td class="text-center">{{list?.status}}</td>
          <td class="text-center">
            <button title="Edit" type="button" class="btn btn-outline-primary btn-sm m-1" (click)="edit(list)">
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button title="Delete" type="button" class="btn btn-outline-danger btn-sm m-1" (click)="deletes(list)">
              <i class="fa-solid fa-trash-can"></i>
            </button>
            <button title="Set List" type="button" class="btn btn-outline-info btn-sm m-1" (click)="setList(list)">
              Set list
            </button>

          </td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Loading Spinner -->
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" template="<img src='https://i.gifer.com/ZZ5H.gif' />">
  </ngx-spinner>