<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{user}} Set</h4>

    <button type="button" class="btn btn-outline-primary close" aria-label="Close" (click)="modalClose()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>


  <div class="modal-body">
<!-- (ngSubmit)="onSubmit()" -->
 <div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label for="exampleFormControlname" class="form-label">Set Name: </label>
        <input type="text" class="form-control" id="exampleFormControlname" placeholder="" formControlName="name">
      </div>
      <div *ngIf="submitted && f['name'].errors">
        <span style="color: red;" *ngIf="f['name'].errors['required'] ">Please enter Chapter Name</span>
    </div>
    

    <!-- accept="image/*" -->
    <div class="mb-3">
      <label for="images" class="form-label">Set Pdf </label>
      <input type="file" class="form-control" id="images" rows="3" formControlName="pdf" (change)="onFileChange($event)" >
    </div>
    <div *ngIf="submitted && f['pdf'].errors">
      <span style="color: red;" *ngIf="f['pdf'].errors['required'] ">Please uploads pdf note</span>
  </div>
  

    <!-- <div class="mb-3">
        <label cLabel for="exampleFormControlStatus">Status</label><br>
        <select cSelect id="exampleFormControlStatus" class="form-control" formControlName='status'>
          <option [disabled]="true">Select Status</option>
          <option value="active">Active</option>
          <option value="inactive">Inactive</option>
        </select>
      </div>
      <div *ngIf="submitted && f['status'].errors">
        <span style="color: red;" *ngIf="f['status'].errors['required'] ">Please select Status</span>
    </div> -->
  

<div class="modal-footer">
<div class="d-grid">
    <button type="submit" class="btn btn-outline-primary btn-login text-uppercase fw-bold" >
        Save</button>
  </div>

</div>

</form>
 </div>
   

  </div>
 