<div class="container-fluid">
    <!-- Breadcrumb for Navigation -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Live Class</li>
      </ol>
    </nav>

    <div class="row align-items-center">
      <div class="col-md-4">
        <h1 class="h3 mb-lg-3 text-gray-800"> Live Class</h1>
      </div>
      <div class="col-md-8 mb-3 text-md-end">
        <button type="button" class="btn btn-outline-primary" (click)="modalData()">Add Live Class</button>
      </div>
    </div>
  
    <!-- Card Section -->
    <!-- <h1 class="h3 mb-3 text-gray-800">Company</h1> -->
  
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <div class="row align-items-center py-3">
        </div>
        
      </div>
  
      <!-- Table Section -->
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
        <th scope="col">#</th>
        <th scope="col">live title</th>
        <th scope="col">Thumbnail</th>
        <th scope="col">Detail</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
        <tr *ngFor="let list of data let i = index; ">
          <th scope="row">{{i+1}}</th>
          <td>{{list?.title | titlecase }} </td>
          <td>
            <img [src]="list?.thumbnail" width="150px" /><br>
          </td>
          <td>

            <ul class="p-0">
              <li class="d-flex justify-content-between   list-unstyled">
                  <span>Meeting Timing :-</span>
                  <span>{{list?.meetingTime | date:'dd/MM/yyyy hh:mm a':'UTC'}}</span>
              </li>
              <li class="d-flex justify-content-between   list-unstyled">
                  <span>Description :-</span>
                  <span>{{list?.description }}</span>
              </li>
              <li class="d-flex justify-content-between   list-unstyled">
                  <span>Meeting Type :-</span>
                  <span>{{list?.mettingType}}</span>
              </li>
              <li class="d-flex justify-content-between list-unstyled" *ngIf="list?.mettingType== 'youtube'">
                  <span>Meeting Video Id :-</span>
                  <span>{{list?.videoId}}</span>
              </li>
              <li class="d-flex justify-content-between list-unstyled"  *ngIf="list?.mettingType != 'youtube'">
                  <span>Meeting Zoom Id :-</span>
                  <span>{{list?.meetingId}}</span>
              </li>
              <li class="d-flex justify-content-between list-unstyled" *ngIf="list?.mettingType != 'youtube'">
                  <span>Meeting Zoom Passcode :-</span>
                  <span>{{list?.passCode}}</span>
              </li>

              </ul>

          
          </td>
          <td>{{list?.status}} </td>
   
         
          <td>
            <button title="Edit" type="button" class="btn btn-outline-primary btn-sm m-1" (click)="edit(list)">
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button title="Delete" type="button" class="btn btn-outline-danger btn-sm m-1" (click)="deletes(list)">
              <i class="fa-solid fa-trash-can"></i>
            </button>
            <!-- <a title="View Post" [href]="list.image" target="_blank" class="btn btn-outline-info btn-sm m-1"><i class="fa-solid fa-eye"></i></a>  -->
            <!-- <button title="Delete" type="button" class="btn btn-outline-info btn-sm m-1" (click)="chapter(list)">
              Chapter
            </button> -->

          </td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Loading Spinner -->
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" template="<img src='https://i.gifer.com/ZZ5H.gif' />">
  </ngx-spinner>