.selectClass {
    height: 38px;
    width: 220px;
    color: rgb(95, 94, 94);
    border-radius: 6px;
    border: 1px solid rgb(218, 214, 214);
}

.dropdown-list .animated .fadeIn .tagToBody {
    width: 212px;
    bottom: unset;
    left: 1027.38px;
    top: 224.6502px !important;
}