<!-- <p>fee-deposit works!</p> -->

<div class="container-fluid">
    <!-- Breadcrumb for Navigation -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><span class="text-secondary">Fee-Deposit</span></li>
        </ol>
    </nav>

    <div class="row align-items-center">
        <div class="col-md-4">
            <h1 class="h3 mb-lg-3 text-gray-800">fee-deposit</h1>
        </div>
    </div>

    <!-- Card Section -->
    <!-- <h1 class="h3 mb-3 text-gray-800">Company</h1> -->

    <div class="card shadow mb-4">
        <div class="card-header p-4">
            <form #searchData=ngForm (ngSubmit)="studentList(searchData)">

                <div class="row row-cols-4 g-3 align-items-center">
                    <div class="col">
                        <input type="text" class="form-control" ngModel required placeholder="Unique Number"
                            aria-label="Search" name="uniqueId">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" ngModel placeholder="Student Name" aria-label="Search"
                            name="name">
                    </div>

                    <select class="col mx-1 selectClass" aria-label="Default select example" ngModel name="className">
                        <option [disabled]="true" value="">Class Name</option>
                        <option *ngFor="let class of totalClasses" [value]="class._id">{{class.className}}</option>
                    </select>
                    <div class="col">
                        <input type="text" class="form-control" ngModel required placeholder="Section Name"
                            aria-label="Search" name="section">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" ngModel required placeholder="Roll Number"
                            aria-label="Search" name="rollNo">
                    </div>


                    <div class="col">
                        <input type="text" class="form-control" ngModel required placeholder="Student Mobile_No"
                            aria-label="Search" name="MobileNo">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" ngModel required placeholder="Father Name"
                            aria-label="Search" name="FatherName">
                    </div>

                </div>

                <div class="modal-footer mt-2">
                    <div class="d-grid">
                        <button type="submit" class="btn btn-outline-secondary btn-login btn-sm text-capitalize">
                            Search Now</button>
                    </div>
                </div>
            </form>

        </div>

        <div class="row row-cols-4 g-3 align-items-center p-4" *ngIf="isShow">
            <div class="col">
                <label for="name">Student List</label><br>
                <select class="selectClass" id="name">
                    <option [disabled]="true" value="">Select Student</option>
                    <option *ngFor="let name of AdmissionData" [value]="name._id">{{name.studentName}}</option>
                </select>
            </div>
            <div class="col">
                <label for="year">Choose Year</label><br>
                <select class="selectClass" id="year">
                    <option value="">{{year}}</option>
                    <option value="2024">2024</option>
                    <option value="2023">2023</option>
                    <option value="2022">2022</option>
                    <option value="2021">2021</option>
                    <option value="2020">2020</option>
                </select>
            </div>

            <div class="col">
                <label for="month">Choose Month</label><br>
                <select class="selectClass" name="month" id="cars">
                    <option value="">{{month}}</option>
                    <option value="April">April</option>
                    <option value="May">May</option>
                    <option value="June">June</option>
                    <option value="July">July</option>
                    <option value="August">August</option>
                    <option value="September">September</option>
                    <option value="October">October</option>
                    <option value="November">November</option>
                    <option value="December">December</option>
                    <option value="January">January</option>
                    <option value="February">February</option>
                    <option value="March">March</option>
                </select>
            </div>
            <div class="col ">

                <div class="dilogbox">
                    <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems"
                        [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                        (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"
                        (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>
                </div>

                <!-- card selector -->

            </div>

        </div>

        <!-- Table Section -->
        <!-- <div class="card-body p-3">
            <div class="table-responsive">
                <div class="container border-bottom border-1"
                    *ngFor="let AdmissionData of AdmissionData; let i = index">
                    <div class="row my-2">
                        <div class="col-md-3 border-1 my-auto">
                            <figure class="figure studentImgBox m-0">
                                <img [src]="AdmissionData?.studentImage" class="figure-img  img-fluid rounded"
                                    alt="student image">
                            </figure>

                        </div>
                        <div class="col-md-3 border-1 me-4">
                            <ul class="py-2">
                                <li class="d-flex justify-content-between list-unstyled">
                                    <span class="fw-semibold">Student Name :-</span>
                                    <span class="fw-semibold">{{AdmissionData?.studentName}}</span>
                                </li>
                                <li class="d-flex justify-content-between list-unstyled">
                                    <span>Student Class :-</span>
                                    <span>{{AdmissionData?.classId.className}}</span>
                                </li>
                                <li class="d-flex justify-content-between list-unstyled">
                                    <span>Roll No :-</span>
                                    <span>{{AdmissionData?.rollNo}}</span>
                                </li>
                                <li class="d-flex justify-content-between list-unstyled">
                                    <span>Section Name :-</span>
                                    <span>{{AdmissionData?.section}}</span>
                                </li>
                                <li class="d-flex justify-content-between list-unstyled">
                                    <span>DOB :-</span>
                                    <span>{{AdmissionData?.dob}}</span>
                                </li>
                            </ul>

                        </div>
                        <div class="col-md-3 border-1 ">
                            <ul class="p-0 py-2">

                                <li class="d-flex justify-content-between list-unstyled">
                                    <span>Father's Name :-</span>
                                    <span>{{AdmissionData?.fatherName}}</span>
                                </li>

                                <li class="d-flex justify-content-between list-unstyled">
                                    <span>Mother's Name :-</span>
                                    <span>{{AdmissionData?.motherName}}</span>
                                </li>
                                <li class="d-flex justify-content-between list-unstyled">
                                    <span>Father's Number :-</span>
                                    <span>{{AdmissionData?.parentNumber}}</span>
                                </li>
                                <li class="d-flex justify-content-between list-unstyled">
                                    <span>Unique_Id:-</span>
                                    <span>{{AdmissionData?.uniqueId}}</span>
                                </li>

                            </ul>

                        </div>
                        <div class="col-md-2 mx-auto py-2">
                            <button class="btn btn-outline-success btn-sm" (click)="feeDeposit(AdmissionData)">Fee-Deposit</button>
                        </div>

                    </div>
                </div>


                <ng-template #noDataFound>
                    <div>
                        No data found!.
                    </div>
                </ng-template>
            </div>
        </div> -->
    </div>
</div>