<div class="container-fluid">
    <!-- Breadcrumb for Navigation -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Post</li>
      </ol>
    </nav>

    <div class="row align-items-center">
      <div class="col-md-4">
        <h1 class="h3 mb-lg-3 text-gray-800"> Post</h1>
      </div>
      <div class="col-md-8 mb-3 text-md-end">
        <button type="button" class="btn btn-outline-primary" (click)="modalData()">Add Post</button>
      </div>
    </div>
  
    <!-- Card Section -->
    <!-- <h1 class="h3 mb-3 text-gray-800">Company</h1> -->
  
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <div class="row align-items-center py-3">
          <div class="col-md-12 d-flex gap-3">
            <!-- Search Company -->
            <div class="form-group">
              <label for="searchCompany" class="form-label">Search post by name</label>
              <div class="input-group">
                <input type="text" class="form-control" id="searchCompany" name="searchCompany" placeholder="Search Company">
              </div>
            </div>
            <!-- Start Date -->
            <div class="form-group">
              <label for="start_date" class="form-label">Start Date</label>
              <input type="date" class="form-control" id="start_date" name="start_date" placeholder="Start Date">
            </div>
            <!-- End Date -->
            <div class="form-group">
              <label for="end_date" class="form-label">End Date</label>
              <input type="date" class="form-control" id="end_date" name="end_date" placeholder="End Date">
            </div>
            <div class="form-group">
            <button class="btn btn-outline-primary mt-4" type="submit">
              <i class="fa fa-search"></i> <!-- Search icon from Bootstrap Icons -->
            </button>
          </div>
          </div>
        </div>
        
      </div>
  
      <!-- Table Section -->
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
        <th scope="col">#</th>
        <th scope="col">Post Name</th>
        <th scope="col">Image</th>
        <th scope="col">Published on</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
        <tr *ngFor="let list of data let i = index; ">
          <th scope="row">{{i+1}}</th>
          <td>{{list?.title | titlecase }} </td>
          <td>
            <img [src]="list?.image" width="150px" /><br>
          </td>

          <td>{{list?.date |  date: 'YYYY / MM / dd'  }} </td>
          <td><button *ngIf="list?.status === 'active'" class="btn btn-outline-success btn-sm m-1"
            title="Published">
            <i class="fa-solid fa-check"></i> Published
          </button>
          <button *ngIf="list?.status === 'inactive'" class="btn btn-outline-danger btn-sm m-1"
            title="Unublished">
            <i class="fa-solid fa-xmark"></i> Unublished
          </button></td>
          <td>
            <button title="Edit" type="button" class="btn btn-outline-primary btn-sm m-1" (click)="edit(list)">
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button title="Delete" type="button" class="btn btn-outline-danger btn-sm m-1" (click)="deletes(list)">
              <i class="fa-solid fa-trash-can"></i>
            </button>
            <a title="View Post" [href]="list.image" target="_blank" class="btn btn-outline-info btn-sm m-1"><i class="fa-solid fa-eye"></i></a> 
            <!-- <button title="Delete" type="button" class="btn btn-outline-info btn-sm m-1" (click)="chapter(list)">
              Chapter
            </button> -->

          </td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Loading Spinner -->
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" template="<img src='https://i.gifer.com/ZZ5H.gif' />">
  </ngx-spinner>